# fake requirements for readthedocs
numpy>=1.8.0
numpydoc>=1.1.0
scipy>=1.0.0
matplotlib>=2.0.0
scikit-learn>=0.14.0
librosa>=0.8.0 
numpydoc>=0.9.1
sphinx-gallery>=0.4.0
sphinx==3.4.0
soundfile >= 0.10.2
